#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    .center_bg{
        border-radius: 5px;
        position: absolute;
        background: url("/img/goro.png") no-repeat;
        background-size: cover;
        width: 800px;
        height: 700px;
        filter: blur(3px);
    }
    .center{
        position: absolute;
        width: 600px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        line-height: 40px;
        background-color: rgba(0,0,0,0.7);
        border-radius: 170px 0 170px 0;
        .test_title{
            color:#f1f1f1;
            height: 300px;
            h1{
                margin: 30px 0;
                font-size: 60px;
                font-family: 'ONE-Mobile-POP';
                @font-face {
                font-family: 'ONE-Mobile-POP';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
                font-weight: normal;
                font-style: normal;
                }
            }
            p{
                font-family: 'ONE-Mobile-Regular';
                @font-face {
                    font-family: 'ONE-Mobile-Regular';
                    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
                    font-weight: normal;
                    font-style: normal;
                }
            }
        }
        .test_start{
            height: 100px;
            display: flex;
            justify-content: center;
            a{
                transition: all 0.3s;
                border-radius: 15px;
                margin-left: 20px;
                background-color: #fff;
                display: block;
                width: 180px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color:#000;
                font-family: 'ONE-Mobile-Regular';
                @font-face {
                    font-family: 'ONE-Mobile-Regular';
                    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
                    font-weight: normal;
                    font-style: normal;
                }   
                &:hover{
                    background-color: rgb(6, 143, 255);
                    color:#fff;
                }
            }
        }
    }
}